@import "_partial/fade"
@import "_partial/font"
@import "_partial/nprogress"
@import "_partial/base"
@import "_partial/tech"
@import "_partial/simple"
@import "_partial/manga"
@import "_partial/street"
@import "_partial/fantasy"
@import "_partial/right-toolbar"

/* ================= 核心交互逻辑专用样式 ================= */

/* 图片点击放大增强效果 (由 script.js 驱动) */
div.img_max
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
  background: rgb(255, 255, 255);
  transition opacity .5s
img.img_max
  cursor:zoom-out;
  position:fixed;
  z-index: 51;
  transition: top .5s,left .5s, transform .5s,width .5s,height .5s;

img.pswp__img
  cursor:zoom-out;

/* 移动端弹出菜单 (在 footer.ejs 中使用) */
.mobile-menus-out
  display none
  opacity 0
  transition opacity .4s
  background: gray;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  top 0
  &.show
    display: block;
    opacity: 0.3;

.mobile-menus
  display: block;
  position: absolute;
  background: white;
  height: auto;
  width: 0;
  font-size: 0
  padding 0
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align center
  -webkit-border-radius: 30px
  -moz-border-radius: 30px
  border-radius: 30px
  transition width .4s, font-size .4s, padding .4s
  &.show
    width: 100px;
    font-size: 16px
    padding 20px
  .dynamic-menu
    display: block
    margin-top 20px
    &:nth-child(1)
      margin-top 0

@import "mobile.styl"
